.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color:#f0f2f5;
  height: 100vh;
}

.card{
  font-size: 20px;
}
.ant-card-head-title{
  font-size: 40px;
}
.checkButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.editButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonGroup{
  display: flex;
  width: 130px;
  justify-content: space-between;
}

.nav-bar{
  width: 30vw;
}

.nav-bar>nav{
  margin: 0 auto;
}

.nav-bar>nav>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar>nav>ul>li{
  list-style: none;
  padding-left:20px
  
}

.todo-list {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.todo-group {
  text-align: left;
}

.todo-item {
  border: 1px solid #CCC;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.todo-generator button {
  width: 180px;
}

.task-name.done {
  text-decoration: line-through;
}

.task-name{
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}